.new-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-lists a:hover > .new-lists__container,
.new-lists a:active > .new-lists__container {
  background-color: var(--very-dark-blue);
}

.new-lists a:hover > .new-lists__container *,
.new-lists a:active > .new-lists__container * {
  color: var(--off-white);
}

.new-lists__container {
  display: grid;
  column-gap: 0.5rem;
  grid-template-areas:
    'img number'
    'img title'
    'img text';
  grid-template-columns: 30% 70%;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.new-lists__container * {
  transition: 0.3s ease-in-out;
}

.new-lists__container img {
  grid-area: img;
  max-width: 100%;
  align-self: stretch;
}
.new-lists__container span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--grayish-blue);
  grid-area: number;
}

.new-lists__container h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--very-dark-blue);
  grid-area: title;
}

.new-lists__container p {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  grid-area: text;
}
